@charset "utf-8";
/* CSS Document */

.melon{color: #07d931;}
.genie{color: #438afe;}
.bugs{color: #ff3f32;}
.vibe{color: #a42e87;}

/* ==================================================
                    메인
================================================== */
#main .tit-area .tit-box h2{display: inline-block; padding-right: 19px; box-sizing: border-box; font-size: 3rem; font-weight: 800; color: #111; letter-spacing: -0.5px; position: relative;}
#main .tit-area .tit-box h2::before{content: ''; display: block; clear: both; width: 15px; height: 15px; position: absolute; right: 0; bottom: 0; background: linear-gradient(0deg, rgba(93,123,168,1) 0%, rgba(155,183,219,1) 95%); border-radius: 50%;}
#main .tit-area .tit-box span{margin-top: 13px; display: block; font-size: 1.5rem; font-weight: 400; color: #929292; letter-spacing: -0.5px;}
#main .section{min-height: 200px;}
#main .main-visual .visual-area{padding: 0 50px; box-sizing: border-box; width: 100%; /*height: 100vh;*/ overflow: hidden;}
#main .main-visual .visual-wrap a{display: block; border-radius: 50px; overflow: hidden; height: 760px; filter: grayscale(0.7); transition: all 0.4s ease; position: relative;}
#main .main-visual .visual-mo{display: none;}
#main .main-visual .visual-wrap a:hover{filter: grayscale(0);}
#main .main-visual .visual-wrap a img{transform: translateY(-50px);}
#main .main-visual .txt-wrap p.txt{font-size: 5rem; font-weight: 700; color: #fff; letter-spacing: 2px; position: absolute; left: 40px; bottom: 40px;}
#main .main-visual .txt-wrap p.txt span{font-size: 4rem;}

#main .size{max-width: 100%;}
#main .section-half-wrap{width: calc(100% + 50px); margin-left: -50px;}
#main .section-half{margin-left: 50px; width: calc(50% - 50px); float: left;}
#main .section .section-shadow{padding: 40px 30px; box-sizing: border-box; border-radius: 20px; box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);}

#main .section .section-wrap{padding: 80px 0 100px; box-sizing: border-box;}
#main .section .cont-area{margin-top: 30px;}
#main .section1 .section-wrap{padding-bottom: 0 !important;}
#main .section1 .vote-swiper .swiper-wrapper{padding-bottom: 15px; box-sizing: border-box;}
#main .section1 .vote-swiper .swiper-slide a{display: block;}
#main .section1 .vote-swiper .swiper-slide .swiper-cont{padding: 30px; box-sizing: border-box; height: 200px; border-radius: 25px;}
#main .section1 .vote-swiper .swiper-slide .swiper-cont .vote-title h3{font-size: 2.6rem; color: #fff;}
#main .section1 .vote-swiper .swiper-slide .swiper-cont .vote-title span{display: block; margin-top: 15px; font-size: 1.6rem; color: #fff; font-weight: 500;}
#main .section1 .vote-swiper .swiper-slide .swiper-cont .vote-content{margin-top: 20px; font-size: 1.6rem; color: #fff;}
#main .section1 .twitter-section .section-shadow{padding: 0; border-radius: 15px;}


#main .section2 .list-wrap ul{display: grid; gap: 30px; grid-template-columns: 1fr 1fr 1fr;}
#main .section2 .list-wrap ul li{}
#main .section2 .list-wrap ul li a{display: block;}
#main .section2 .list-wrap ul li .box{display: flex; align-items: center; padding: 25px; box-sizing: border-box; border: 3px solid #333; border-radius: 20px; transition: all 0.4s ease;}
#main .section2 .list-wrap ul li .box p{font-size: 2.4rem; font-weight: 700; line-height: 1.3; transition: all 0.4s ease;}
#main .section2 .list-wrap ul li .box p .arrow{display: inline-block; font-size: 3rem; transform: rotate(-40deg);}
#main .section2 .list-wrap ul li .box p b{display: block;}
#main .section2 .list-wrap ul li .box:hover p{color: #fff;}
#main .section2 .list-wrap ul li .melon{border-color: #07d931;}
#main .section2 .list-wrap ul li .melon:hover{background-color: #07d931;}
#main .section2 .list-wrap ul li .melon p{color: #07d931;}
#main .section2 .list-wrap ul li .geine{border-color: #438afe;}
#main .section2 .list-wrap ul li .geine:hover{background-color: #438afe;}
#main .section2 .list-wrap ul li .geine p{color: #438afe;}
#main .section2 .list-wrap ul li .bugs{border-color: #ff3f32;}
#main .section2 .list-wrap ul li .bugs:hover{background-color: #ff3f32;}
#main .section2 .list-wrap ul li .bugs p{color: #ff3f32;}
#main .section2 .list-wrap ul li .vibe{border-color: #a42e87;}
#main .section2 .list-wrap ul li .vibe:hover{background-color: #a42e87;}
#main .section2 .list-wrap ul li .vibe p{color: #a42e87;}
#main .section2 .list-wrap ul li .melon_cash:hover{background-color: #07d931; border-color: #07d931}
#main .section2 .list-wrap ul li .radio:hover{background-color: #333;}
#main .section2 .list-wrap ul li .apple_music{border-color: #fa3650;}
#main .section2 .list-wrap ul li .apple_music:hover{background-color: #fa3650;}
#main .section2 .list-wrap ul li .apple_music p{color: #fa3650;}
#main .section2 .list-wrap ul li .spotify{border-color: #1ed760;}
#main .section2 .list-wrap ul li .spotify:hover{background-color: #1ed760;}
#main .section2 .list-wrap ul li .spotify p{color: #1ed760;}
#main .section2 .list-wrap ul li .youtube_music{border-color: #fe0000;}
#main .section2 .list-wrap ul li .youtube_music:hover{background-color: #fe0000;}
#main .section2 .list-wrap ul li .youtube_music p{color: #fe0000;}

#main .section2 .right-wrap .btm-area{margin-top: 20px;}
#main .section2 .right-wrap .btm-area .section-shadow{padding: 35px;}
#main .section2 .right-wrap .btm-area .sns-list ul{display: flex; gap: 30px;}
#main .section2 .right-wrap .btm-area .sns-list ul li a .ico{display: block; height: 40px;}
#main .section2 .right-wrap .btm-area .sns-list ul li a{display: flex; gap:3px; align-items: end;}
#main .section2 .right-wrap .btm-area .sns-list ul li a img{height: 100%;}
/* #main .section2 .right-wrap .btm-area .sns-list ul li a .ico img{vertical-align: initial;} */


/*#main .section1 .section-wrap{padding: 150px 0 100px; box-sizing: border-box;}
#main .section1 .cont-area{margin-top: 50px;}
#main .section1 .list-wrap{width: 100%; max-width: 960px; margin: 0 auto;}
#main .section1 .list-wrap ul{ width: 100%;}
#main .section1 .list-wrap ul li{float: left; width: 33.3333%;}
#main .section1 .list-wrap ul li a{display: block; text-align: center;}
#main .section1 .list-wrap ul li .box{height: 250px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
#main .section1 .list-wrap ul li .box .ico{display: block;}
#main .section1 .list-wrap ul li .box .txt em { display: block; font-size: 2rem; font-weight: 600; letter-spacing: -0.5px; line-height: 1.2;}*/

/* ==================================================
                    서브
================================================== */
#sub .sub-visual .visual-wrap{height: 250px; display: flex; align-items: center; justify-content: center;}
#sub .sub-visual .visual-wrap h2{font-size: 5rem;}
#sub .sec-wrap{padding: 0 0 150px; box-sizing: border-box;}
#sub .img-wrap1{text-align: center; max-width: 1152px; margin: 0 auto;}
#sub .img-wrap1 .imgs{margin-top: 60px; display: inline-block; border-radius: 50px; overflow: hidden;}
#sub .img-wrap1 .imgs:first-child{margin-top: 0;}
#sub .sub-gnb1{padding-bottom: 40px; box-sizing: border-box; max-width: 850px; margin: 0 auto;}
#sub .sub-gnb2{max-width: 550px;}
/* #sub .sub-gnb1 ul{display: flex; justify-content: center; gap: 15px;} */
#sub .sub-gnb1 ul{font-size: 0; text-align: center; margin-top: -15px;}
#sub .sub-gnb1 ul li{display: inline-block; margin-left: 15px; margin-top: 15px;}
#sub .sub-gnb1 ul li:first-child{margin-left: 0;}
#sub .sub-gnb1 ul li a{display: block;}
#sub .sub-gnb1 ul li a .con{padding: 0 16px; display: flex; align-items: center; gap: 7px; height: 46px; line-height: 46px; font-size: 2rem; font-weight: 600; color: #111; background-color: #d2d2d2; border-radius: 50px; transition: all 0.4s ease;}
#sub .sub-gnb1 ul li a .con .ico{display: block; width: 24px; height: 24px; border-radius: 50%; overflow: hidden; line-height: 24px; }
#sub .sub-gnb1 ul li a .con .ico img{vertical-align: initial;}
#sub .sub-gnb1 ul li a:hover .con{background-color: #000; color: #fff;font-weight: 800;}
#sub .sub-gnb1 ul li a.on .con{background-color: #000; color: #fff;font-weight: 800;}

#sub.guide .section .img-area .img-wrap{display: none;}
#sub.guide .section .img-area .img-wrap:first-child{display: block;}


#main .section1 .notice-section > .section-shadow {
    display: flex;
    flex-direction: column;

    max-height: 383px;
}

#main .section1 .scroll-wrap {
    padding: 0 10px;
    flex: 1;
    overflow-y: auto;
}

#main .section1 .notice-section .cont-area ul > li > a{display: block;}

#main .section1 .scroll-wrap ul li:first-child a .notice-item {
    border-top: 2px solid gray;
}


#main .section1 .scroll-wrap .notice-item {
    box-sizing: border-box;

    padding: 0 20px;

    border-bottom: 2px solid gray;
}

#main .section1 .scroll-wrap .notice-header {
    display: flex;
    justify-content: space-between;

    padding: 30px 0;
}

#main .section1 .scroll-wrap .notice-header .notice-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main .section1 .scroll-wrap .notice-header .notice-date {
    margin-left: 10px;

    color: dimgray;
}

#main .section1 .scroll-wrap .notice-item .notice-body {
    margin-bottom: 30px;
    padding: 20px;

    color: gray;

    border: 2px solid gray;
    border-radius: 10px;
}


/* ==================================================
                    차트
================================================== */
#myLineChart {width: 600px; height: 300px;}
#sub.sub_chart .btn_area{margin-top: 50px; width: calc(100% + 15px); margin-left: -15px; }
#sub.sub_chart .btn_area .chart_btn{display: block; float: left; width: calc(33.3333% - 15px); margin-left: 15px; margin-top: 15px; height: 40px; line-height: 40px; border: 1px solid #000; box-sizing: border-box;}





